[Unit]
Description=SearXNG Companion Engine
After=network-online.target

[Container]
ContainerName=searxng
Image=docker.io/searxng/searxng:latest

# Bind to loopback only
PublishPort=127.0.0.1:8888:8080
Volume=/home/spoob/srv/@ai/searxng:/etc/searxng:Z

[Install]
WantedBy=default.target

[Service]
Restart=on-failure
RestartSec=5