[Unit]
Description=Immich Postgres Database
After=network-online.target

[Container]
ContainerName=immich-db
Image=docker.io/tensorchord/pgvecto-rs:pg14-v0.2.1

Memory=1G

EnvironmentFile=%E/containers/systemd/immich.secrets
Environment=POSTGRES_USER=immich
Environment=POSTGRES_DB=immich
Volume=%h/srv/@immich/postgres:/var/lib/postgresql/data:Z
Network=immich-internal.network

[Install]
WantedBy=default.target

[Service]
CPUShares=1024
Restart=on-failure
RestartSec=5
StartLimitIntervalSec=60
StartLimitBurst=5
