[Unit]
Description=Immich Redis Cache
After=network-online.target
StartLimitBurst=5
StartLimitIntervalSec=60

[Container]
ContainerName=immich-redis
Image=docker.io/library/redis:7-alpine

Memory=256M

Network=immich-internal.network

[Install]
WantedBy=default.target

[Service]
CPUWeight=500
Restart=on-failure
RestartSec=5
