[Unit]
Description=Immich Machine Learning
After=network-online.target
StartLimitBurst=5
StartLimitIntervalSec=60

[Container]
ContainerName=immich-ml
Image=ghcr.io/immich-app/immich-machine-learning:release-openvino

Environment=IMMICH_ML_DEVICE=openvino:GPU
AddDevice=/dev/dri:/dev/dri
Annotation=run.oci.keep_groups=true

Memory=3G

Volume=%h/srv/@immich/model-cache:/cache:Z
Network=immich-internal.network

Volume=/etc/localtime:/etc/localtime:ro

[Install]
WantedBy=default.target

[Service]
CPUWeight=20
Restart=on-failure
RestartSec=5
