[Unit]
Description=Immich Server
After=immich-db.service immich-redis.service immich-ml.service
Requires=immich-db.service immich-redis.service immich-ml.service
StartLimitBurst=5
StartLimitIntervalSec=60

[Container]
ContainerName=immich-server
Image=ghcr.io/immich-app/immich-server:release

EnvironmentFile=%E/containers/systemd/immich.secrets
Environment=DB_HOSTNAME=immich-db
Environment=DB_USERNAME=immich
Environment=DB_DATABASE_NAME=immich
Environment=REDIS_HOSTNAME=immich-redis
Environment=IMMICH_MACHINE_LEARNING_URL=http://immich-ml:3003
Environment=IMMICH_EXTERNAL_DOMAIN=https://photos.tail837b46.ts.net
Environment=IMMICH_HOST=0.0.0.0

Memory=2G
Environment=NODE_OPTIONS="--max-old-space-size=1500"

# Render devices
AddDevice=/dev/dri:/dev/dri
# Ensures container sees the 'video' and 'render' groups
Annotation=run.oci.keep_groups=true

Volume=/home/spoob/srv/@immich/photos:/usr/src/app/upload:Z
Network=immich-internal.network
PublishPort=2283:2283

Volume=/etc/localtime:/etc/localtime:ro

[Install]
WantedBy=default.target

[Service]
CPUWeight=100
Restart=on-failure
RestartSec=5
