[Unit]
Description=Immich Redis Cache
After=network-online.target

[Container]
ContainerName=immich-redis
Image=docker.io/library/redis:7-alpine

PodmanArgs=--cpus=0.25 --memory=256m
Memory=256M

Network=immich-internal.network

[Install]
WantedBy=default.target

[Service]
Restart=on-failure
RestartSec=5
StartLimitIntervalSec=60
StartLimitBurst=5
