[Unit]
Description=Immich Machine Learning
After=network-online.target

[Container]
ContainerName=immich-ml
Image=ghcr.io/immich-app/immich-machine-learning:release-openvino

Environment=IMMICH_ML_DEVICE=openvino:GPU
AddDevice=/dev/dri:/dev/dri
Annotation=run.oci.keep_groups=true

Volume=/home/spoob/srv/@immich/model-cache:/cache:Z
Network=immich-internal.network

PodmanArgs=--cpus=1 --cpu-shares=512 --memory=3g
Memory=3G

[Install]
WantedBy=default.target
