[Unit]
Description=Immich Postgres Database
After=network-online.target

[Container]
ContainerName=immich-db
Image=docker.io/tensorchord/pgvecto-rs:pg14-v0.2.1

PodmanArgs=--cpus=0.5 --memory=1g
Memory=1G

EnvironmentFile=%h/.config/containers/systemd/immich.secrets
Environment=POSTGRES_USER=immich
Environment=POSTGRES_PASSWORD=IMMICH_PASSWORD
Environment=POSTGRES_DB=immich
Volume=/home/spoob/srv/@immich/postgres:/var/lib/postgresql/data:Z
Network=immich-internal.network

[Install]
WantedBy=default.target

[Service]
Restart=on-failure
RestartSec=5
StartLimitIntervalSec=60
StartLimitBurst=5
