[Unit]
Description=RDTClient TorBox Bridge
After=network-online.target
StartLimitBurst=5
StartLimitIntervalSec=60

[Container]
ContainerName=rdtclient
Image=docker.io/rogerfar/rdtclient:latest
Memory=512M

Environment=PUID=0
Environment=PGID=0

Volume=%h/srv/@media/config/rdtclient:/data/db:Z
Volume=%h/srv/@media/data/downloads:/data/downloads:z
Network=media-internal.network
PublishPort=6500:6500

Volume=/etc/localtime:/etc/localtime:ro

[Install]
WantedBy=default.target

[Service]
CPUWeight=20
Restart=on-failure
RestartSec=5
