[Unit]
Description=Sonarr Anime Manager
After=network-online.target media-prowlarr.service media-rdtclient.service
Wants=media-prowlarr.service media-rdtclient.service
StartLimitBurst=5
StartLimitIntervalSec=60

[Container]
ContainerName=sonarr
Image=lscr.io/linuxserver/sonarr:latest
Memory=512M

Environment=PUID=0
Environment=PGID=0

# Both /config and /data. Sonarr needs to see /data/downloads and /data/media
Volume=%h/srv/@media/config/sonarr:/config:Z
Volume=%h/srv/@media/data:/data:z
Network=media-internal.network
PublishPort=8989:8989

Volume=/etc/localtime:/etc/localtime:ro

[Install]
WantedBy=default.target

[Service]
CPUWeight=50
Restart=on-failure
RestartSec=5
