[Unit]
Description=Jellyfin Media Server
After=network-online.target
StartLimitBurst=5
StartLimitIntervalSec=60

[Container]
ContainerName=jellyfin
Image=docker.io/jellyfin/jellyfin:latest
AutoUpdate=registry
UserNS=keep-id

Memory=1G

# Render devices for Intel QuickSync hardware transcoding
AddDevice=/dev/dri:/dev/dri
Annotation=run.oci.keep_groups=true

# SELinux: :Z for private config, :z for shared media directory
Volume=%h/srv/@media/config/jellyfin:/config:Z
Volume=%h/srv/@media/data:/data:z
Network=media-internal.network

PublishPort=8096:8096

Volume=/etc/localtime:/etc/localtime:ro

[Install]
WantedBy=default.target

[Service]
CPUWeight=100
Restart=on-failure
RestartSec=5
