[Unit]
Description=Recyclarr Trash Guides Sync
After=network-online.target media-sonarr.service
Wants=media-sonarr.service
StartLimitBurst=5
StartLimitIntervalSec=60

[Container]
ContainerName=recyclarr
Image=ghcr.io/recyclarr/recyclarr:latest
UserNS=keep-id
Memory=128M

# Recyclarr runs as a cron job inside the container by default
Environment=CRON_SCHEDULE="@daily"

Volume=%h/srv/@media/config/recyclarr:/config:Z
Volume=%h/dev/personal/tempest-homelab/quadlets/configs/recyclarr:/config/configs:Z
Network=media-internal.network

Volume=/etc/localtime:/etc/localtime:ro

[Install]
WantedBy=default.target

[Service]
CPUWeight=100
Restart=on-failure
RestartSec=5
