[Unit]
Description=SpotDL Web Interface
After=network-online.target
StartLimitBurst=5
StartLimitIntervalSec=60

[Container]
ContainerName=spotdl
Image=spotdl-local.build
AutoUpdate=local

UserNS=keep-id
User=1000:1000

Memory=512M

Exec=uvicorn spotdl_server:app --host 0.0.0.0 --port 8800

Volume=%h/srv/@music/data/Mainstream:/music:z
Network=media-internal.network

PublishPort=8800:8800

Volume=/etc/localtime:/etc/localtime:ro

[Install]
WantedBy=default.target

[Service]
CPUWeight=50
Restart=on-failure
RestartSec=5
