[Unit]
Description=Seanime Server

[Container]
ContainerName=seanime-server
Image=docker.io/umagistr/seanime:latest-hwaccel

Environment=TZ=America/Los_Angeles
Environment=SEANIME_SERVER_HOST=0.0.0.0

Memory=1G

# Render devices
AddDevice=/dev/dri:/dev/dri
# Ensures container sees the 'video' and 'render' groups
Annotation=run.oci.keep_groups=true

Volume=/home/spoob/srv/@seanime:/home/seanime/.config/Seanime:Z
Volume=/home/spoob/srv/@anime:/mnt/media:Z
PublishPort=43211:43211

UserNS=keep-id

[Install]
WantedBy=default.target

[Service]
CPUShares=1024
Restart=on-failure
RestartSec=5
StartLimitIntervalSec=60
StartLimitBurst=5
