[Container]
Image=docker.io/tailscale/tailscale:latest
ContainerName=tailscale
Network=host
Volume=/var/lib/tailscale:/var/lib/tailscale:Z
Volume=/dev/net/tun:/dev/net/tun:z
AddCapability=NET_ADMIN
AddCapability=NET_RAW

EnvironmentFile=/etc/containers/systemd/tailscale.secrets
Environment=TS_AUTH_ONCE=true
Environment=TS_STATE_DIR=/var/lib/tailscale

[Install]
WantedBy=multi-user.target
